*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #fff;
    font-family: クレー;
}

/* ファーストビュー */
.firstview{
  background-color: rgba(0,0,0,.0);
  text-align: center;
}

.fv-img{
  margin: 5.5vw auto 10vw;
  width: 75%;
}


/* セクション全体 */

.sec{
  width: 75%;/*1200px*/
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: auto;
  border-left: #9D9D9D solid 2px;
  border-right: #9D9D9D solid 2px;
}
.sec-title{
  font-size: 3vw;
  color: #9D9D9D;
  padding-bottom: 3vw;
}

body{
  background-image: url(../img/back.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* イントロ */
#intro{
  border-top: #9D9D9D solid 2px;
}

#intro img{
  width: 30%;
  margin: 13vw 0px 2vw;
  border:1px solid #9c9c9c;
}

#intro h2{
  font-size: 2.5vw;
  color: #9c9c9c;
  padding: 1.5vw 0px;
}

#intro p{
  font-size: 1.5vw;
  color: #9c9c9c;
  padding-bottom: 23vw;
}

/* 作品 */
.works-all{
  padding-bottom: 23vw;
  /* background-color: #fff; */
}


hr{
  border: 1px solid #9D9D9D;
  margin: 4vw 13vw;
}

.cover{
  background-color: #9D9D9D;
  display:inline-block;
}

.cover img{
  width: 11vw;
  opacity: 0.5;
  display:block;
  transition-duration: 0.4s;
}

.cover::after{
  content: '';
  position: absolute;

  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */

  /* background-color: blue; */
  opacity: 0.5;
  display:block;
}

.cover img:hover{
  opacity: 1;
  transition-duration: 0.4s;
}

/* イベ情報 */
.info-txt{
  float: left;
  padding-left: 7vw;
}

.info-txt h2{
  padding: 4vw 0px 0px;
  font-size: 2vw;
  color: #9D9D9D;
}

.info-txt p{
  font-size: 1.7vw;
  color: #9D9D9D;
  padding: 1vw 0px 0px;
}

#info h3{
  font-size: 1.5vw;
  color: #9D9D9D;
  padding: 8vw 0px 20vw;
  clear: both;
}

.map{
  padding-right: 7vw;
  width: 30vw;
  height: 20vw;
  float: right;
}

/* フッター */
ul{
  list-style: none;
}

ul a{
  text-decoration: none;
  float: left;
  padding-left: 2vw;
  font-size: 1.5vw;
  color: #9D9D9D;
}

footer p a{
  list-style: none;
  text-decoration: none;
  float: right;
  font-size: 1.5vw;
  color: #9D9D9D;
}

footer div{
  padding: 0vw 7vw 8vw;
  background-color: #fff;
  margin-bottom: 4vw;
  border-bottom: #9D9D9D solid 2px;
}

/* ポップアップ */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 28vw;
    padding: 4vw;
    background-color: #fff;
    z-index: 2;
  }

  .pop-contonts{
    padding: 5.5vw 0px 6.5vw;
    /* background-color: rgb(78, 58, 58); */
  }

  .popup-inner img {
    width: 29vw;
    float: left;
  }

  .pop-txt{
    /* background-color: red; */
    padding: 0px 0.1vw 0px 1.1vw;
    width: 49%;
    float: left;
  }

  .photo-title{
    font-size: 2vw;
    padding-top: 0.85vw;
  }

  .photo-memo{
    font-size: 1vw;
    padding-top: 0.6vw;
  }

  .name{
    font-size: 1.3vw;
    padding-top: 2vw;
  }

  .people-memo{
    font-size: 0.9vw;
    padding-top: 0.4vw;
  }

  /* 閉じる */
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }

.sample-img{
      width: 500px;
  }