* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Klee";
  src: url("/font/KleeOne-SemiBold.ttf");
  font-display: swap;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: "Klee";
}


/* ファーストビュー */
.firstview {
  background-color: rgba(0, 0, 0, .0);
  text-align: center;
}

.fv-img {
  margin: 5.5vw auto 10vw;
  width: 75vw;
  height: 42.25vw;
  position: relative;
}


/* セクション全体 */

.sec {
  width: 75%;
  /*1200px*/
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: auto;
  /* border-left: #9c9c9c solid 2px;
  border-right: #9c9c9c solid 2px; */
}

.sec-title {
  font-size: 2vw;
  color: #9c9c9c;
  padding-bottom: 5vw;
}

body {
  background-color:rgba(230, 254, 255, 0.3);
  background-blend-mode:lighten;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.no-webp body {
  background-image: url(/img/back.png);
}
.webp body {
  background-image: url(/img/back.webp);
}

/* イントロ */
/* #intro {
  border-top: #9c9c9c solid 2px;
} */

#intro img {
  width: 30%;
  aspect-ratio: 1;
  margin: 13vw 0px 2vw;
  border: 1px solid #9c9c9c;
}

#intro h2 {
  font-size: 2.5vw;
  color: #9c9c9c;
  padding: 4.5vw 0px 25vw;
}

#intro p {
  font-size: 1.5vw;
  color: #858585;
  padding: 23vw 0px 0vw;
  line-height: 45px;
}

/* 作品 */
.works-all {
  padding-bottom: 25vw;
  /* background-color: #fff; */
}

hr {
  border: 1px solid #9c9c9c;
  margin: 6vw 13vw;
}

.before {
  position: relative;
  width: 11vw;
  padding-top: 270%;
  overflow: hidden;
}

.before img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* イベ情報 */
.info-txt {
  float: left;
  padding-left: 8.4vw;
}

.info-txt h2 {
  padding: 4vw 0px 0px;
  font-size: 2vw;
  color: #9c9c9c;
}

.info-txt p {
  font-size: 1.7vw;
  color: #858585;
  padding: 1vw 0px 0px;
}

#info h3 {
  font-size: 1.5vw;
  color: #9c9c9c;
  padding: 4vw 0px 30vw;
  clear: both;
}

.map {
  padding-right: 8.4vw;
  width: 30vw;
  height: 20vw;
  float: right;
}

/* フッター */

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  float: left;
  padding-left: 2vw;
  font-size: 1.5vw;
  color: #858585;
}

.insta:before {
  font-size: 2.5vw;
  line-height: 0.9em;
}

footer p a {
  list-style: none;
  text-decoration: none;
  float: right;
  font-size: 1.5vw;
  color: #858585;
}

footer div {
  padding: 0vw 7vw 9vw;
  margin-bottom: 10vw;
  /* border-bottom: #9c9c9c solid 2px; */
}


/* モーダル */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: auto;
  max-height: 70%;
  padding: 4vw;
  background-color: #fff;
  z-index: 2;
}

.popup-inner img {
  width: 28vw;
  height: 26vw;
  float: left;
  padding: 0vw 0vw 0vw 0px;
  object-fit: contain;
  /* background-color: red; */
}

.pop-contents{
  display: flex;
  align-items: center;
}

.pop-txt {
  padding: 0vw 0vw 0px 1.5vw;
  width: 45%;
  float: left;
  /* background-color: blue; */
}

#modal #title {
  font-size: 1.8vw;
  padding-top: 0vw;
  /* background-color: red; */
}

#modal #photo-img {
  animation: 1s ease-in-out 0s;
}

#modal #description {
  font-size: 1.2vw;
  padding-top: 0.6vw;
}

#modal #author {
  font-size: 1.3vw;
  padding-top: 2vw;
}

#modal #author-memo {
  font-size: 1vw;
  padding-top: 0.4vw;
}

/* 閉じる */
#modal #close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

#modal #close-btn i {
  font-size: 20px;
  color: #9c9c9c;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
  cursor: pointer;
}

.sample-img {
  width: 500px;
}

/* 以下モーダル用カスタム要素 */

w-title,
w-memo,
w-author,
w-author-memo,
w-author-en {
  display: none;
}

before-button {
  background-color: #9c9c9c;
  display: inline-block;
}

before-button img {
  width: 11vw;
  opacity: 0.5;
  display: block;
  transition-duration: 0.4s;
}

before-button::after {
  content: '';
  position: absolute;

  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */

  /* background-color: blue; */
  opacity: 0.5;
  display: block;
}

before-button img:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

/* レスポンシブ */

@media all and (max-width: 500px){

  /* ファーストビュー */
  .fv-img {
    margin: 10vw auto 10vw;
    width: 81%;
  }

  /* セクション */
  .sec {
    width: 80%;

  }

  .sec-title {
    font-size: 3.2vw;
    color: #858585;
    padding-bottom: 3.5vw;
  }

  /* イントロ */

  #intro h2 {
    font-size: 4.3vw;
    padding: 5vw 0px 25vw;
    color: #858585;
  }

  #intro p {
    font-size: 3vw;
    padding: 25vw 11.6vw 0vw;
    line-height: 35px;
    color: #727272;
  }

  /* 作品 */

  .works-all {
    padding-bottom: 35vw;
    /* background-color: #fff; */
  }
hr {
  border:solid #c4c4c4 1px;
  margin: 7vw 13vw;
}

before-button img {
  width: 12vw;
}

/* イベ情報 */
.info-txt {
  float: none;
  width: 70%;
  padding: 0px 0px 5vw;
  /* background: rgb(110, 52, 52); */
  margin: 0px auto;
}

.info-txt h2 {
  padding: 0.5vw 0px 0px;
  font-size: 3.7vw;
  color: #858585;
}

.info-txt p {
  font-size: 3.2vw;
  color: #727272;
  padding: 1.8vw 0px 0px;
}

#info h3 {
  font-size: 2.7vw;
  color: #858585;
  padding: 10vw 0px 45vw;
  clear: both;
}

.map {
  padding: 2vw 0vw 0px 0px;
  width: 63.5vw;
  height: 43.5vw;
  float: none;
  /* background-color: rgb(102, 71, 71); */
}

/* フッター */

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  float: left;
  padding: 0.5vw 0vw 0vw 2vw;
  font-size: 2.5vw;
  color: #727272;
}

footer p a {
  list-style: none;
  text-decoration: none;
  float: right;
  font-size: 2.5vw;
  color: #727272;
}

footer div {
  padding: 0vw 7vw 13vw;
  margin-bottom: 16vw;
}

/* modal */

.popup-inner {
  width: 70vw;
  height: auto;
  padding: 4vw;
  max-height: 90%;
}

.pop-contents{
  display: inline-block;
}

.popup-inner img {
  width: 57vw;
  height: auto;
  float: none;
  padding: 5vw 0px 2vw;
  /* background-color: red; */
}


.pop-txt {
  padding: 0vw 0vw 2px 0vw;
  width: 83%;
  float: none;
  margin: 0 auto;
  /* background-color: blue; */
  color: #575757;
}

#modal #title {
  font-size: 4vw;
  padding-top: 0.85vw;
}

#modal #description {
  font-size: 2.5vw;
  padding-top: 1vw;
  /* background-color: #333; */
}

#modal #author {
  font-size: 3.1vw;
  padding-top: 3vw;
}

#modal #author-memo {
  font-size: 2.3vw;
  padding: 0.6vw 0px 3.5vw;
}

}